* {
    margin: 0;
}

header {
    height: 50px;
    background-color: #6adf82;
    padding: 15px 0px 10px 20px;
    display: flex;
    gap: 40px;
}

input {
    width: 600px;
    height: 25px;
    margin-top: 7px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #c8d6e5;
}

h1 {
    text-transform: uppercase;
    font-family: 'SEGA LOGO FONT', sans-serif;
    color: #303952;
}

body {
    background-image: url("circuit-pattern.png");
    background-color: #6556cd;
}

#container {
    margin: 80px auto 30px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    height: 380px;
    background-image: url("card-pattern.png");
    background-color: #4fc1c5;
    color: #2d3436;
    border-radius: 7px;
    font-family:'Courier New', Courier, monospace
}

.card img {
    background-color: #303952;
    width: 80%;
    display: block;
    margin: 20px auto 15px auto;
    border-radius: 50%;
}

.card h2, p {
    margin-left: 15px;
}

.card a {
    text-decoration: none;
    color: #2d3436;
}