.search {
    margin-top: 20px;
}

.search input {
    height: 25px;
    padding-left: 7px;
    border: 1px solid lightgray;
}

.search input:focus {
    outline: none;
}

.search button, select {
    height: 29px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #282c34;
    color: white;
}

.search button {
    width: 60px;
}

.search button:hover {
    background-color: #576788;
}

.search select {
    width: 90px;
    margin-left: 5px;
}