.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
    "left1 right1 right1"
    "left2 right2 right2"
    "left3 right3 right3"
    "bottom bottom bottom"
    ;
    gap: 20px;
}

.item_blue1 {
    background-color: aqua;
    border: 1px black solid;
    grid-area: right1;
}

.item_blue2 {
    background-color: aqua;
    border: 1px black solid;
    grid-area: right2;
}

.item_blue3 {
    background-color: aqua;
    border: 1px black solid;
    grid-area: right3;
}

.item_red1 {
    background-color: salmon;
    border: 1px black solid;
    grid-area: left1;
}

.item_red2 {
    background-color: salmon;
    border: 1px black solid;
    grid-area: left2;
}

.item_red3 {
    background-color: salmon;
    border: 1px black solid;
    grid-area: left3;
}

.item_yellow {
    background-color: lightgoldenrodyellow;
    border: 1px black solid;
    grid-area: bottom;
}